/* General styling */

* {
    font-family: 'poppins', sans-serif;
}

.post-img {
    width: 100%;
    object-fit: cover;
    box-shadow: 0px 3px 3px 0 rgb(0 0 0 / 50%);
}

.text-justify {
    text-align: justify;
}

/* Navbar */

.navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;

}

.logo-icon {
    padding-right: 5px;
}

.navbar-brand {
    font-size: 1.5rem;
}

/* Blog feed */

.post-feed-img {
    max-height: 200px;
}

.pagination-arrow {
    font-size: 1.5rem;
    padding: 0 0.5rem;
}

/* Post detail page */

.post-detail-img {
    max-height: 400px;
    /* box-shadow: none; */
}

/* About page */

.about-img {
    max-height: 500px;
}

/* Footer */

footer li {
    font-size: 1.2rem;
}