/* General styling */

* {
    font-family: 'poppins', sans-serif;
}

/* Navbar */

.navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;

}

.logo-icon {
    padding-right: 5px;
}

/* Footer */

footer li {
    font-size: 1.2rem;
}