{% extends 'base.html' %}
{% block content %}
<div class="container my-5">
    <div class="row justify-content-center px-md-3 py-md-4 py-3 m-md-5 mx-0 border rounded bg-white">
        <!-- Post content section -->
        <div class="row mb-3">
            <div class="col-12 p-0 d-md-flex">
                <h4 class="fs-5">{{ post.title }}</h4>
                <div class="ms-auto mb-2">
                    <span>{{ post.author }}</span>
                    <span class="ms-3">{{ post.created_on|date:"F d, Y" }}</span>
                </div>
            </div>
            <div class="col-12 p-0">
                {% if "placeholder" in post.image.url %}
                <!-- Placeholder image source:  https://www.pexels.com/sv-se/foto/teknologi-modern-utrustning-flatlay-325153/-->
                <img class="post-img post-detail-img"
                    src="https://res.cloudinary.com/lucasbehrendt/image/upload/v1653919164/samples/ecommerce/placeholder-image.jpg"
                    alt="placeholder image">
                {% else %}
                <!-- User image -->
                <img class="post-img post-detail-img" src="{{ post.image.url }}" alt="">
                {% endif %}
            </div>
            <div class="col-12 p-0 text-justify">
                <h6 class="mb-auto mt-3 fs-6">{{ post.content }}</h6>
            </div>
        </div>
        <!-- Meta data -->
        <div class="row">
            <div class="col-12 p-0">
                <hr>
                <div class="d-flex">
                    <span class="ms-1"><i class="fa-regular fa-thumbs-up fs-5 me-1"></i> {{ post.number_of_likes }}</span>
                    <span class="ms-auto">
                        {% if post.comment_set.all|length == 1 %}
                        {{ post.comment_set.all|length }} comment
                        {% else %}
                        {{ post.comment_set.all|length }} comments
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
        <!-- Comments section -->
        <div class="row">
            <h3 class="mt-5 text-center">Comments</h3>
            <div class="col-12 p-0">
                <p>comment form coming soon!</p>
            </div>
            <hr>
            <div class="col-12 p-0">
                {% for comment in post.comment_set.all %}
                <div class="border-start border-secondary border-3 my-5">
                    <div class="ms-3">
                        <span>
                            {{ comment.author.username }} - {{ comment.created_on|timesince }} ago
                        </span>
                        <p class="my-3">{{ comment.body }}</p>
                    </div>
                </div>
                <!-- <hr> -->
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}