{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<!-- Profile page with update info form -->
<div class="container my-5">
    <div class="px-md-5 px-3 py-3 m-md-5 border rounded bg-white">
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend class="border-bottom mb-4">Are you sure you want to delete your account?</legend>
            </fieldset>
            <div>
                <button class="btn btn-danger mt-3 mb-4" type="submit">Delete</button>
            </div>
            <a href="{% url 'profile' request.user.id %}" class="text-link">Keep my account</a>
        </form>
    </div>
</div>
{% endblock %}