{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<!-- Register form -->
<div class="container my-5">
    <div class="px-md-5 px-3 py-3 m-md-5 border rounded bg-white">
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend class="border-bottom mb-4">Get in on the conversation!</legend>
                {{ form|crispy }}
            </fieldset>
            <div>
                <button class="btn btn-secondary my-1" type="submit">Sign Up</button>
            </div>
        </form>
        <hr>
        <div>
            <small class="text-muted">
                Already have an account? <a href="{% url 'signin' %}" class="text-link ms-3">Sign in</a>
            </small>
        </div>
    </div>
</div>
{% endblock %}