{% extends 'base.html' %}
{% block content %}
<!-- Restyle -->
<!-- Register form -->
<div class="container my-5">
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend class="border-bottom mb-4">Get in on the conversation!</legend>
            {{ form }}
        </fieldset>
        <div>
            <button class="btn btn-secondary" type="submit">Sign Up</button>
        </div>
    </form>
    <hr>
    <div>
        <small class="text-muted">
            Already have an account? <a href="#" class="ms-3">Sign in</a>
        </small>
    </div>
</div>
{% endblock %}